<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeoAccuracy</key>
	<integer>1</integer>
	<key>GeoDistanceInterval</key>
	<integer>300</integer>
	<key>GeoTimeInterval</key>
	<integer>300000</integer>
	<key>GeoCollectionTimeRange</key>
	<dict>
		<key>Start</key>
		<integer>0</integer>
		<key>End</key>
		<integer>86400000</integer>
	</dict>
</dict>
</plist>
