<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.cocoapods.RPing</key>
	<string>ping</string>
	<key>org.cocoapods.RAnalytics</key>
	<string>analytics</string>
	<key>org.cocoapods.RDiscover</key>
	<string>discover</string>
	<key>org.cocoapods.RFeedback</key>
	<string>feedback</string>
	<key>org.cocoapods.RPushPNP</key>
	<string>pushpnp</string>
	<key>org.cocoapods.RInAppMessaging</key>
	<string>inappmessaging</string>
</dict>
</plist>
